<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{nama_kumpulan}}</ion-title>
    
    <ion-buttons end class="pads">
      <button ion-button icon-only color="light" (click)="leaveGroup()">
       Exit Class <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!buttonClicked">
  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pricetags"></ion-icon>
      Latest Pin

      <div item-end color="light" (click)="onButtonClick()">
       Edit <ion-icon name="create"></ion-icon>
      </div>
    </ion-item>

    <ion-grid padding>
    <ion-row>
        <ion-col col-12><b>Announcement</b><br>
          {{anc}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6><b>Surah</b></ion-col><ion-col col-6>:<button class="small">{{surah}}</button></ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6><b>Juz - Last Kalimah</b></ion-col><ion-col col-6>:<button class="small">{{juz}}</button></ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12><b>Lead by</b><br>{{namalead}}</ion-col>
    </ion-row>
  </ion-grid>
   
  </ion-card>
  </div>

  <!-- #######################################  -->
  <!-- #######################################  -->
  
  
  <div *ngIf="!buttonClicked2">
        <!-- <form [formGroup]="form" (ngSubmit)="register()" #registerForm="ngForm"> -->

            <ion-card class="card3">
                <div>
                    <ion-item color="danger">
                        <ion-icon name="pricetags"></ion-icon>
                        Edit Pin
                  
                        <div item-end color="light" (click)="onButtonClick()">
                         Cancel <ion-icon name="ios-undo"></ion-icon>
                        </div>
                      </ion-item>
                  <ion-item>
                    <ion-label floating>
                      <h4 color="primary">Announcement:</h4>
                    </ion-label>
                    <ion-input required type="text" name="anc" [(ngModel)]="anc" value="{{anc}}"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>
                      <h4 color="primary">Surah:</h4>
                    </ion-label>
                    <ion-input required type="text" name="surah" [(ngModel)]="surah" value="{{surah}}"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>
                      <h4 color="primary">Juz - Last Kalimah:</h4>
                    </ion-label>
                    <ion-input required type="text" name="juz" [(ngModel)]="juz" value="{{juz}}"></ion-input>
                  </ion-item>
                  <button ion-button block (click)="editPin()" color="danger">Update Pin</button>
                 
                </div>
                
              </ion-card>

      <!-- </form> -->
      <!-- </ion-card> -->
      </div>


  <!-- #######################################  -->
  <!-- #######################################  -->



  <ion-card>
    <ion-item color="primary">
      Chat Room
    </ion-item>
    <div *ngFor="let message of messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
        <div *ngIf="user._id !== message.userId">
          <img  class="profile-pic left" src="assets/imgs/2.png"  />
          <!--  wave-->
          <div class="chat-bubble left slide-left">
    
            <div class="message" [innerHTML]="message.text" autolinker>
            </div>
    
            <div class="message-detail">
              <span  class="bold">{{toUser.username}}</span>,
             
            </div>
    
          </div>
        </div>
    
        <div *ngIf="user._id === message.userId">
    
          <img  class="profile-pic right" src="assets/imgs/1.png"  />
    
          <div class="chat-bubble right slide-right">
    
            <div class="message" [innerHTML]="message.text" autolinker>
            </div>
    
            <div class="message-detail">
              <span  class="bold">{{user.username}}</span>,
              
            </div>
    
          </div>
    
        </div>
    
        <div class="cf"></div>
    
      </div>
  </ion-card>

</ion-content>

<ion-footer>
    
      <ion-item>
        <ion-input  [(ngModel)]="chatBox" placeholder="Send  a message..."></ion-input>
        <button ion-button clear (click)="send(chatBox)" item-end><ion-icon class="footer-btn" name="send"></ion-icon></button>
      </ion-item>
 
  </ion-footer>