page-home {
  .fix{
      flex: 0 0 4px;
      padding:0;
      margin-right:10px;
    }
    ion-card {
  
      position: relative;
  
      text-align: center;
  
    }
    .title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
  
    }
    .size{
    align-content: center!important;
  }
  
  .italic{
    font-style : italic;
  }
  
  .back{
    background-color: #f53d3d;
  }

  
  .inner{
    widows: 2000px;
    height: 100%px;
    ion-card{
      display : table-cell;
      border: solid 1px #ccc;
    }
  }
  
  .absolute{
    position: absolute;
  }
  


  
  .card {
    border-radius: 7px;
      margin-top: 0px;
      width: 100% !important;
      margin-left:0 !important;
              margin-right:0 !important;
  }
  
  ion-avatar {
      margin: 0 !important;
  }
  
  .item ion-avatar img {
      width: 9vw ;
      height: 9vw;
  }
  
  .post-description {
      padding: 0px;
      border-bottom: 1px solid #eee;
  }
  
  // Media queries
  @media (min-width: 480px) {
      .pins {
          column-count: 3;
      }
      .item ion-avatar img {
          width:  8vw !important;
          height: 8vw !important;
      }
  }
  
  @media (min-width: 480px) {
      .pins {
          column-count: 3;
      }
      .item ion-avatar img {
          width:  8vw !important;
          height: 8vw !important;
          
      }
  }
  .bg{
   
      background: url("../assets/imgs/ss2.jpg") no-repeat center center fixed;
      background-repeat: no-repeat;
       background-size: cover;
}
}