page-listgroup {
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
    
    .size{
    width:200% !important;  
    height : 200% !important;  
    max-width: 50px !important;  //any size
    max-height: 50px !important; //any size 
    }
    
    .group-card {
        border-radius: 5px;
        overflow: hidden;
      }
    
      ion-grid {
        height: 4em;
      }
    
      
    .card3{
      border-radius: 7px;
      background-color: transparent;
    }
    .bg{
     
      background: url("../assets/imgs/bg.jpg") no-repeat center center fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
}
